body {
    font-family: "Cantarell", sans-serif;
}

#headbar {
    width: 100%;
    margin: 0;
}

#titlebar {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

#sidebar {
    width: 20%;
    font-size: 20px;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li {
    padding-bottom: 20px;
    cursor: pointer;
}

