body {
    font-family: "Cantarell", sans-serif;
}

#headbar {
    width: 100%;
    margin: 0;
}

#titlebar {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

#sidebar {
    width: 20%;
    display: inline-block;
    font-size: 20px;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.side-items li a:hover {
    font-weight: bold;
}

.panel-link {
    padding-left: 8px;
    padding-right: 8px;
}

.activePanel {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.major-panel {
    width: 60%;
    display: inline-block;
    background-color: grey;
    vertical-align: top;
    margin-top: 18px;
}