body {
    font-family: "Cantarell", sans-serif;
}

#headbar {
    width: 100%;
    margin: 0;
}

#titlebar {
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 35px;
    font-weight: bold;
    color: black;
}

#sidebar {
    width: 20%;
    float: left;
    display: inline-block;
    font-size: 14px;
}

#rightbar {
    width: 20%;
    float: right;
    display: inline-block;
    font-size: 14px;
}

#sidebar ul, #rightbar ul {
    list-style-type: none;
}

#sidebar ul li, #rightbar ul li  {
    margin-bottom: 20%;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#rightbar .side-items {
    padding-left: 10px;
}

.side-items li a:hover {
    font-weight: bold;
}

.panel-link, .filter-link {
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 17%;
}

.activePanel {
    border: solid black 2px;
}

.major-panel {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-top: 1%;
}

#photos {
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    row-gap:           0px;
}

.my-photos {
    width: 100% !important;
    height: auto !important;
    cursor: pointer;
}

.my-photos:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#my_search {
    border: solid black 2px;
    width: 70%;
}