body {
    font-family: "Lucida Console", Courier, monospace;
}

#headline {
    border: 5px solid black;
    height: 40%;
    width: 100%;
}

#name {
    font-size: 80;
    width: 30%;
    margin-left: 35%;
    margin-top: 3%;
}
